@import '../../style/variable.scss';

.sidenavbar {
  position: $absolute;
  display: $flex;
  height: $full-width;
  padding: 56px 0 0;
  align-items: $flex-start;
  justify-content: $space-between;
  flex-wrap: $wrap;
}