@import '../../style/variable.scss';

.btn-primary {
  background: $primary-color;
  border: $none-value;
  font-size: $normal-font;
  font-weight: $font-weight-500;
  &:hover,
  &:active,
  &:focus {
    background: $primary-color;
  }
}