@import '../../style/variable.scss';

.login-page {
  background: url('../../images/login_bg.png') no-repeat;
  background-size: cover;
  background-color: $basic-color;
  #root,
  .App {
    height: $full-width;
    display: table;
    margin: $zero-value;
    padding: $zero-value;
    width: $full-width;
  }
  .container {
    display: table-cell;
    text-align: $center;
    vertical-align: middle;
    position: $relative;
  }
}

.login-form {
  width: $full-width;
  max-width: 300px;
  margin: $zero-value $auto;
  .cs-logo {
    margin-bottom: 85px;
  }
}

.form-control {
  background: $basic-color;
  border: $none-value;
  color: $white-color;
  &:focus {
    border: $none-value;
    background: $basic-color;
    color: $white-color;
  }
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-gray;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
  color: $light-gray;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
  color: $light-gray;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: $light-gray;
}