@import '../style/variable.scss';

html {
  height: $full-width;
}

body {
  font-family: $basic-font;
  height: $full-width;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background: $primary-color;
  box-shadow: $none-value !important;
}